<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Permalist</title>
</head>
<body>
    <% if(locals.tasks) { %>
        
        <div class="today">
            To do list
        </div>
        <div class="container">
            <% tasks.forEach(item => { %>
                <div class="<%= item.id %>">
                    <form action="/delete" method="post">
                        <input type="checkbox" name="deletetask" value="<%= item.id %>" onchange="this.form.submit()">
                    </form>
                    <p><%= item.task %></p>
                </div>                
            <% }); %>
            <form id="addtask" action="/add" method="post" autocomplete="off">
                <input type="text" name="newtask" placeholder="Add new task here">
                <button type="submit">Add</button>
            </form> 

        </div>
   
            
    <% } else { %>
        <% console.log("No data from index.js"); %>

    <% } %>   
</body>
</html>